:root {
  --ion-color-task: #6266cc;
  --ion-color-task-rgb: 104, 118, 187;
  --ion-color-task-contrast: #ffffff;
  --ion-color-task-contrast-rgb: 255, 255, 255;
  --ion-color-task-shade: #b62a4b;
  --ion-color-task-tint: #8b8ff1;
}

.ion-color-task {
  --ion-color-base: var(--ion-color-task);
  --ion-color-base-rgb: var(--ion-color-task-rgb);
  --ion-color-contrast: var(--ion-color-task-contrast);
  --ion-color-contrast-rgb: var(--ion-color-task-contrast-rgb);
  --ion-color-shade: var(--ion-color-task-shade);
  --ion-color-tint: var(--ion-color-task-tint);
}
